[Desktop Entry]
Version=1.0
Type=Application
Name=sxiv
Exec=sxiv -b %F
Terminal=false
MimeType=image/bmp;image/gif;image/jpeg;image/png;
X-Desktop-File-Install-Version=0.26
