set editing-mode vi
set keymap vi

set show-mode-in-prompt on 

# For ST
set enable-keypad on

# PS1 prefix indicator for cmd and ins mode 
# eg:1
# set vi-ins-mode-string "\1\e[1;32m\2(insert)\1\e[0m\2"
# set vi-cmd-mode-string "\1\e[1;31m\2(normal)\1\e[0m\2"
# eg:2
# set vi-ins-mode-string "(\1\e[1;32m\2●\1\e[0m\2)"
# set vi-cmd-mode-string "(\1\e[1;31m\2●\1\e[0m\2)"

# Block cursor in cmd mode and I in ins mode
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

$if mode=vi

set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen
"$": beginning-of-line
"0": end-of-line

# vim text objects 
"#": insert-comment
".": "i !*\r"
"|": "A | "
"D":kill-line
"C": "Da"
"dw": kill-word
"dd": kill-whole-line
"db": backward-kill-word
"cc": "ddi"
"cw": "dwi"
"cb": "dbi"
"daw": "lbdW"
"yaw": "lbyW"
"caw": "lbcW"
"diw": "lbdw"
"diW": "lbdW"
"yiw": "lbyw"
"ciw": "lbcw"
"ciW": "lbcW"
"da\"": "lF\"df\""
"di\"": "lF\"lmtf\"d`t"
"ci\"": "di\"i"
"ca\"": "da\"i"
"da'": "lF'df'"
"di'": "lF'lmtf'd`t"
"ci'": "di'i"
"ca'": "da'i"
"da`": "lF\`df\`"
"di`": "lF\`lmtf\`d`t"
"ci`": "di`i"
"ca`": "da`i"
"da(": "lF(df)"
"di(": "lF(lmtf)d`t"
"ci(": "di(i"
"ca(": "da(i"
"da)": "lF(df)"
"di)": "lF(lmtf)d`t"
"ci)": "di(i"
"ca)": "da(i"
"da{": "lF{df}"
"di{": "lF{lmtf}d`t"
"ci{": "di{i"
"ca{": "da{i"
"da}": "lF{df}"
"di}": "lF{lmtf}d`t"
"ci}": "di}i"
"ca}": "da}i"
"da[": "lF[df]"
"di[": "lF[lmtf]d`t"
"ci[": "di[i"
"ca[": "da[i"
"da]": "lF[df]"
"di]": "lF[lmtf]d`t"
"ci]": "di]i"
"ca]": "da]i"
"da<": "lF<df>"
"di<": "lF<lmtf>d`t"
"ci<": "di<i"
"ca<": "da<i"
"da>": "lF<df>"
"di>": "lF<lmtf>d`t"
"ci>": "di>i"
"ca>": "da>i"
"da/": "lF/df/"
"di/": "lF/lmtf/d`t"
"ci/": "di/i"
"ca/": "da/i"
"da:": "lF:df:"
"di:": "lF:lmtf:d`t"
"ci:": "di:i"
"ca:": "da:i"
"gg": beginning-of-history
"G": end-of-history
?: reverse-search-history
/: forward-search-history

set keymap vi-insert
# these are for vi-insert mode
Control-l: clear-screen
# ";;": vi-movement-mode
"\C-h":"\C-w"
$endif

